/*==================================
=            chat popup            =
==================================*/
.chat_box{
    position:fixed;
    right:20px;
    bottom:0px;
    width:250px;
}
.chat_body{
    background:#D6DBDF ;
    height:400px;
    padding:5px 0px;
}

.chat_head,.msg_head{
    background:#7D3C98;
    color:white;
    padding:15px;
    font-weight:bold;
    cursor:pointer;
    border-radius:5px 5px 0px 0px;
}

.msg_box{
    position:fixed;
    bottom:-5px;
    width:250px;
    background:white;
    border-radius:5px 5px 0px 0px;
}

.msg_head{
    background:#286090;
}

.msg_body{
    background:#D6DBDF ;
    height:200px;
    font-size:12px;
    padding:15px;
    overflow:auto;
    overflow-x: hidden;
}
.msg_input{
    /*width:88%;*/
    width:100%;
    height: 49px;
    border: 1px solid white;
    background: #F8F9F9;
    border-top:1px solid #DDDDDD;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

.close{
    float:right;
    cursor:pointer;
}
.minimize{
    float:right;
    cursor:pointer;
    padding-right:5px;
    
}

.userdiv{
    position:relative;
    padding:10px 30px;
}
.userdiv:hover{
    background:#85C1E9;
    cursor:pointer;

}
.userdiv:before{
    content:'';
    position:absolute;
    background: #7f8c8d;              /*//#2ecc71;*/
    height:10px;
    width:10px;
    left:10px;
    top:15px;
    border-radius:6px;
}

.msg_a{
    position:relative;
    background:#FDE4CE;
    padding:10px;
    min-height:10px;
    margin-bottom:5px;
    margin-right:10px;
    border-radius:5px;
}
.msg_a:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: transparent #FDE4CE transparent transparent;
    left:-20px;
    top:7px;
}


.msg_b{
    background:#EEF2E7;
    padding:10px;
    min-height:37px;     /*  15px  */    
    margin-bottom:5px;
    position:relative;
    margin-left:10px;
    border-radius:5px;
    word-wrap: break-word;
}
.msg_b:after{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: transparent transparent transparent #EEF2E7;
    right:-20px;
    top:7px;
}

.msg_footer {
    border:1px solid #021a40;
}

/* .msg_input {
        height: 20px;
        padding-bottom: 30px;
        padding-top: 20px;
    }*/

.tick {
    width:15px;
    height: 14px;
    border-radius: 4px;
    background: white;
}

.userdivtop {
    background-color: #D6DBDF;
    position:relative;
    padding:10px 30px;
    height: 28px;
}

.select-none {
    margin-right: 15px;
    cursor: pointer;
}
.select-all {
    cursor: pointer;
}

/*=====  End of chat popup  ======*/

.msg_handle button {
    padding: 0 5px;
    width: 80px;
    height: 30px;
}

.msg_wrap {
    position: relative; 
}
.msg_handle {
    /*position: absolute; */
    position: fixed;
    width: 249px;
    height: 200px;
    background-color: #D6DBDF !important;
    z-index: 1;
    /*z-index: -1;*/
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #B2B2B2;
    height: 74px;
    margin: -18px 0 18px 18px;
    width:  208px;
}

.bubble::after {
    background-color: #F2F2F2;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    content: "\00a0";
    display: block;
    height: 20px;
    left: -10px;
    position: relative;
    top: -16px;
    transform:             rotate( 45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
    width:  20px;
}

.msg_handle p {
    font-size: 17px;
}

.handle_button {
    padding-left: 60px;
}

.bubble p {
    padding-top: 4px;
    padding-left: 20px;
    font-size: 14px;
    word-wrap: break-word;
}

.time {
    font-size: 9px;
    font-style: italic;
}

.msg_a {
    overflow-wrap: break-word;
}

.fa-external-link-square {
    padding-right: 9px;
    font-size: 17px;

}

.close {
    font-size: 19px;
}

.dropdown-item {
    color: black;
}

.dropdown-menu .dropdown-item:hover {
    text-decoration-color: black;
    background-color: #3498db;
    cursor: pointer;
}

.onlineuser:before{
    background: #2ecc71 !important;
}
