
/*=================================
=            Main chat            =
=================================*/
#chat {
    width: 81%;
    height: 99vh;
    position: fixed;
    /*padding-bottom: 71px;*/
    top: 52px;
    left: 100px;
}
.top-bar {
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
}
.top-bar span{
    font-size: 20px;
    color: #222;
    margin-right: 15px;
}
.msgBox {
    max-width: 1000px;
/*    height: 100%;
    padding-bottom: 20px;*/
    height: calc(100% - 100px);
    overflow: auto;
    position: relative;
}


    #msgBox {
    position: relative;
}
.footer {
    position: fixed;
    background: white;
    bottom: 0;
    height: 50px;
    padding: 5px 15px;
    overflow: hidden;
    border-top: 1px solid #ccc;
}
.footer input {
    height: 100%;
    border: none;
}
.footer .btn {
    height: 100%;
    width: 70px;
}
.msg_footer {
    position: relative;
}
.msg_footer i {
    top: 9px;
    right: 11px;
    position: absolute;
    opacity: .5;
    cursor: pointer;
}
.msg_footer i:hover {
    opacity: 1;
}
/*=====  End of Main chat  ======*/