<div id="chat" ng-controller="agentController">
    <div class="top-bar">
        User:
        <span>
            {{user}}
        </span>
        <button class="btn btn-primary pull-right" ng-click="disconnect()">
            Logout
        </button>
    </div>
        <div class="msg_box" style="right:47px">
        <div class="msg_head" ng-click="scroll()">{{user}}
        <i class="fa fa-times close pull-right" aria-hidden="true" ng-click="close($event)"></i>

        </div>
        <div class="msg_wrap" ng-show="msg_wrap">
            <div class="msg_body" id="msg_body">
                <div ng-repeat="msg in messages">
                <div class="msg_a" ng-if="msg.sender == user && !msg.path">{{msg.message}}<div class="time pull-right">{{msg.time}}</div></div>
                <div class="msg_a" ng-if="msg.path && msg.sender == user"><a ng-href="{{msg.path}}" target="_blank"><img ng-src="{{msg.path}}" target="_blank" width="150"></a><div class="time">{{msg.time}}</div></div>
                <div class="msg_b" ng-if="msg.receiver == user && !msg.path">{{msg.message}}<div class="time pull-right">{{msg.time}}<br>{{msg.sender}}</div></div>
                <div class="msg_b" ng-if="msg.path && msg.receiver == user"><a ng-href="{{msg.path}}" target="_blank"><img ng-src="{{msg.path}}" target="_blank" width="150"></a><div class="time">{{msg.time}}<br>{{msg.sender}}</div></div>
                </div>
            </div>
        <div class="msg_footer">
            <div ngf-drop="upload($file)" 
                 class="drop-box" 
                 ngf-drag-over-class="'dragover'" 
                 ngf-multiple="false" 
                 ngf-pattern="'image/*,application/pdf'"
                 ng-model="myFiles">
        <textarea class="msg_input" ng-keypress="sendMessage($event)" rows="4" placeholder="Enter your Message" ng-model="messageInput"></textarea>
        <div class="button" ngf-select="upload($file)" ng-model="myFiles">
        <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>