  <div id="adminpage" ng-controller="adminController">
    <div class="top-bar">
        Admin:
        <span>
            {{user}}
        </span>
        <button class="btn btn-primary pull-right" ng-click="disconnect()">
            Logout
        </button>

    </div>

        <div id="chat" ng-if="user == 'superadmin'">
        <div class="msgBox container" id="messageContainer">
        <div class="col-xs-12" id="messages">
            <div id="msg_{{$index}}" ng-repeat="msg in messages">
                <blockquote>
                    {{msg.sender}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{msg.receiver}} : <i style="padding-left: 10px">{{msg.message ? msg.message : msg.path}}</i>
                    <small>
                        {{msg.time}}
                    </small>
                </blockquote>
            </div>
        </div>
    </div>
    </div>

    
  <div class="chat_box">
    <div class="chat_head" ng-click="chat_boxClick = !chat_boxClick">Online Users</div>
    <div class="chat_body" ng-show="chat_boxClick"> 
    <div class="userdivtop"><i class="fa fa-check-square fa-lg select-all pull-right" aria-hidden="true" ng-click="selectall()"></i><i class="fa fa-window-close fa-lg pull-right" aria-hidden="true" ng-click="selectnone()"></i></div>
    <div class="userdiv" ng-class="{'onlineuser': setOnline[user]}" ng-repeat="user in onlineUsers" ng-click="chatbox(user)">{{user}}
    <div class="tick pull-right" ng-click="selection($event,user)"><i class="fa fa-check pull-right" aria-hidden="true" ng-show="userObj.{{user}}.selected"></i></div> 
    </div>
    </div>
  </div>


<!-- first chat div- -->
      <div class="msg_box" style="right:290px" ng-show="msg_boxClick[0]">
        <div class="msg_head" ng-click="msg_wrap[0] = !msg_wrap[0]">{{clickedUser[0]}}
        <i class="fa fa-times close pull-right" aria-hidden="true" ng-click="close(0)"></i>


        <div class="dropdown pull-right" id="broadcast-transfer">
          <i class="fa fa-external-link-square dropdown-toggle" id="dropdownMenuButton0" data-toggle="dropdown" aria-haspopup="true" ng-click="showAdmins($event,0)" aria-expanded="false"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div ng-repeat="admin in Admins">
                    <div class="dropdown-item" style="padding: 5px 10px" ng-click="transferAdmin(admin.username,0)">{{admin.username}}</div>
            </div>
            </div>
          </div>


<!--         <i class="fa fa-times close pull-right" aria-hidden="true" ng-click="close(0)"></i>
 -->        </div>
        <div class="msg_wrap" ng-show="msg_wrap[0]">
                <div class="msg_handle" ng-show="firstMessage[0]">
                    <p>New broadcast message</p><br>
                    <div class="bubble"><p>{{firstMessage[0]}}</p></div>
                    <div class="handle_button">
                    <button type="button" class="btn btn-primary" ng-click="handle('yes',0)">Reply</button>
                    <button type="button" class="btn btn-primary" ng-click="handle('no',0)">Cancel</button>
                    </div> 
                </div>
            <div class="msg_body" id="msg_body0">
                <div ng-repeat="message in popupMessage[0] track by $index">
                <div class="msg_a" ng-if="(message.sender == clickedUser[0] || message.sender == 'broadcast') && !message.path">{{message.message}}<div class="time pull-right">{{message.time}}</div></div>
                <div class="msg_a" ng-if="message.path && (message.sender == clickedUser[0] || message.sender == 'broadcast')"><a ng-href="{{message.path}}" target="_blank"><img ng-src="{{message.path}}" target="_blank" width="150"></a><div class="time">{{message.time}}</div></div>
                <div class="msg_b" ng-if="message.receiver == clickedUser[0] && !message.path">{{message.message}}<div class="time pull-right">{{message.time}}<br>{{message.sender}}</div></div>
                <div class="msg_b" ng-if="message.path && message.receiver == clickedUser[0]"><a ng-href="{{message.path}}" target="_blank"><img ng-src="{{message.path}}" target="_blank" width="150"></a><div class="time">{{message.time}}<br>{{message.sender}}</div></div>
                </div>
            </div>
        <div class="msg_footer">
            <div ngf-drop="upload($file,0)" 
                 class="drop-box" 
                 ngf-drag-over-class="'dragover'" 
                 ngf-multiple="false" 
                 ngf-pattern="'image/*,application/pdf'"
                 ng-model="myFiles">
        <textarea class="msg_input" ng-keypress="inputMessage($event,clickedUser[0],0)" rows="4" placeholder="Enter your Message" ng-model="message[0]"></textarea>
        <div class="button" ngf-select="upload($file,0)" ng-model="myFiles">
        <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
        </div>
        </div>
        </div>
    </div>
    </div>


<!-- Second chat div -->
    <div class="msg_box msg_box2" style="right:560px" ng-show="msg_boxClick[1]">
        <div class="msg_head" ng-click="msg_wrap[1] = !msg_wrap[1]">{{clickedUser[1]}}
        <i class="fa fa-times close pull-right" aria-hidden="true" ng-click="close(1)"></i>
            <div class="dropdown pull-right">
                <i class="fa fa-external-link-square dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" ng-click="showAdmins($event,1)" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div ng-repeat="admin in Admins">
                    <div class="dropdown-item" style="padding: 5px 10px" ng-click="transferAdmin(admin.username,1)">{{admin.username}}</div>
            </div>
            </div>
          </div>
        </div>
        <div class="msg_wrap" ng-show="msg_wrap[1]">
                <div class="msg_handle" ng-show="firstMessage[1]">
                    <p>New broadcast message</p><br>
                    <div class="bubble"><p>{{firstMessage[1]}}</p></div>
                    <div class="handle_button">
                    <button type="button" class="btn btn-primary" ng-click="handle('yes',1)">Reply</button>
                    <button type="button" class="btn btn-primary" ng-click="handle('no',1)">Cancel</button>
                    </div> 
                </div>
            <div class="msg_body" id="msg_body1">
                <div ng-repeat="message in popupMessage[1]">
                <div class="msg_a" ng-if="message.sender == clickedUser[1] && !message.path">{{message.message}}<div class="time pull-right">{{message.time}}</div></div>
                 <div class="msg_a" ng-if="message.path && message.sender == clickedUser[1]"><a ng-href="{{message.path}}" target="_blank"><img ng-src="{{message.path}}" target="_blank" width="150"></a><div class="time">{{message.time}}</div></div>
                <div class="msg_b" ng-if="message.receiver == clickedUser[1] && !message.path">{{message.message}}<div class="time pull-right">{{message.time}}<br>{{message.sender}}</div></div>
                <div class="msg_b" ng-if="message.path && message.receiver == clickedUser[1]"><a ng-href="{{message.path}}" target="_blank"><img ng-src="{{message.path}}" target="_blank" width="150"></a><div class="time">{{message.time}}<br>{{message.sender}}</div></div>
                </div>
            </div>
        <div class="msg_footer">
            <div ngf-drop="upload($file,1)" 
                 class="drop-box" 
                 ngf-drag-over-class="'dragover'" 
                 ngf-multiple="false" 
                 ngf-pattern="'image/*,application/pdf'"
                 ng-model="myFiles">
        <textarea class="msg_input" ng-keypress="inputMessage($event,clickedUser[1],1)" rows="4" placeholder="Enter your Message" ng-model="message[1]"></textarea>
        <div class="button" ngf-select="upload($file,1)" ng-model="myFiles">
        <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
        </div>
        </div>
        </div>
    </div>
    </div>
    
    
<!-- third chat div -->
    <div class="msg_box msg_box3" style="right:830px" ng-show="msg_boxClick[2]">
        <div class="msg_head" ng-click="msg_wrap[2] = !msg_wrap[2]">{{clickedUser[2]}}
        <i class="fa fa-times close pull-right" aria-hidden="true" ng-click="close(2)"></i>
        <div class="dropdown pull-right">
          <i class="fa fa-external-link-square dropdown-toggle" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" ng-click="showAdmins($event,2)" aria-expanded="false"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div ng-repeat="admin in Admins">
                    <div class="dropdown-item" style="padding: 5px 10px" ng-click="transferAdmin(admin.username,2)">{{admin.username}}</div>
            </div>
            </div>
          </div>
        </div>
        <div class="msg_wrap" ng-show="msg_wrap[2]">
                <div class="msg_handle" ng-show="firstMessage[2]">
                    <p>New broadcast message</p><br>
                    <div class="bubble"><p>{{firstMessage[2]}}</p></div>
                    <div class="handle_button">
                    <button type="button" class="btn btn-primary" ng-click="handle('yes',2)">Reply</button>
                    <button type="button" class="btn btn-primary" ng-click="handle('no',2)">Cancel</button>
                    </div> 
                </div>
            <div class="msg_body" id="msg_body2">
                <div ng-repeat="message in popupMessage[2]">
                <div class="msg_a" ng-if="message.sender == clickedUser[2] && !message.path">{{message.message}}<div class="time pull-right">{{message.time}}</div></div>
                <div class="msg_a" ng-if="message.path && message.sender == clickedUser[2]"><a ng-href="{{message.path}}" target="_blank"><img ng-src="{{message.path}}" target="_blank" width="150"></a><div class="time">{{message.time}}</div></div>
                <div class="msg_b" ng-if="message.receiver == clickedUser[2] && !message.path">{{message.message}}<div class="time pull-right">{{message.time}}<br>{{message.sender}}</div></div>
                <div class="msg_b" ng-if="message.path && message.receiver == clickedUser[2]"><a ng-href="{{message.path}}" target="_blank"><img ng-src="{{message.path}}" target="_blank" width="150"></a><div class="time">{{message.time}}<br>{{message.sender}}</div></div>
                </div>
            </div>
        <div class="msg_footer">
            <div ngf-drop="upload($file,2)" 
                 class="drop-box" 
                 ngf-drag-over-class="'dragover'" 
                 ngf-multiple="false" 
                 ngf-pattern="'image/*,application/pdf'"
                 ng-model="myFiles">
        <textarea class="msg_input" ng-keypress="inputMessage($event,clickedUser[2],2)" rows="4" placeholder="Enter your Message" ng-model="message[2]"></textarea>
        <div class="button" ngf-select="upload($file,2)" ng-model="myFiles">
        <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
        </div>
        </div>
        </div>
    </div>
    </div>
        
</div>
